<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PMCar">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher2"
        android:label="PMCar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.PMCar.Joystick"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_joystick"
            android:screenOrientation="landscape"></activity>
        <activity android:name="com.PMCar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>